body{
    height: 97.21362229102168vh;
    width: 71.7234262125903vh;
    margin-left: auto;
    margin-right: auto;
}
h1{
    position: relative;
    top: 0rem;
    left: 14rem;
    color: rgb(85, 129, 115);
}

}
header{
    position: relative;
    left: 61.919504643962846vh;
}

.gmail{
    color: blue;
}
h2{
    color: rgb(85, 129, 115);
    text-align: center;
   
}
#mini_info{
    text-align: center;
}
#Compétences_Profeessionelles{
    text-align: left;
}

@media screen and (max-width:578px){
    body{
        font-size: 2.5vw;
    }
    
}

.ligne { 
    display: block; 
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
    margin-left: 2.063983488132095vh; 
    margin-right: 2.063983488132095vh; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 0.5159958720330238vh;
}
#contact_info{
text-align: center;    
}
.Tamoil,.LV,.newcafé,.CA{
    color: rgb(85, 129, 115);
}

button {
    float:right;
    background-color: #647a72;
  border: none;
  color: white;
  padding: 2.063983488132095vh;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6511867905056758vh;
  margin: 0.41279669762641896vh 0.20639834881320948vh;
}

.dark {
    background-color: #222;
    color: #e6e6e6;
}
